<div class="host-new-partner">
  <h2>¡Hazte socie!</h2>
  <div class="content">
    <div class="explanation">
      <p>Antes de nada: ¡muchas gracias! El proceso para asociarte es muy sencillo:</p>
      <ol>
        <li>Haz una transferencia de 30€¹ a <code>ES18 1491 0001 2230 0008 5378</code> indicando en el asunto tu <strong>DNI/NIE/pasaporte</strong> y en destinatario <strong>"Asociación Python España"</strong>.</li>
        <li>Rellena el siguiente formulario³. Si lo deseas, puedes obtener una cuenta de la Asociación bajo el dominio @es.python.org⁴ confirmándolo en el correo de alta.</li>
        <li>En unos días la Junta Directiva aprobará tu solicitud y nos pondremos en contacto contigo.</li>
      </ol>
      <p>¡No olvides decir <i>«¡Hola!»</i> cuando rellenes el campo de Comentario! Y si encima tienes un momento para presentarte y hablarnos un poco de ti, mejor aún :)</p>
      <div class="food-notes">
        <p>¹ Durante la segunda mitad del año (julio-diciembre inclusive) el pago será de 15€.</p>
        <p>² Si no deseas domiciliar el pago, omite el IBAN. El próximo febrero te tocará pagar la cuota completa del año (¡te lo recordaremos!).</p>
        <p>³ Tambien puedes mándanos un correo a <a mailto="alta@es.python.org">alta@es.python.org</a> con asunto <strong>"Alta nuevo socie"</strong> adjuntando tu documento de identidad (DNI/NIE/pasaporte) escaneado, tu teléfono de contacto, el comprobante de pago y tu IBAN² para domiciliar el pago.</p>

        <p>⁴ La cuenta @es.python.org te brindará acceso a todos los servicios habilitados en nuestro Workspace de Google, incluyendo 30GB personales en Drive.</p>
      </div>
    </div>
    <form
     class="form"
     autocomplete="off"
     @submit.prevent="handleSubmit()">
      <div class="fieldset">
        <label for="full_name">Tu nombre y apellidos</label>
        <input
          id="name"
          name="name"
          type="text"
          required
          maxlength="100"
          v-model.trim="form.name"
          placeholder="Ex.: Guido van Rossum"/>
      </div>
      <div class="fieldset">
        <label for="email">Un email válido</label>
        <input
          id="email"
          name="email"
          type="email"
          required
          maxlength="75"
          v-model.trim="form.email"
          placeholder="Ex.: guido@python.org"/>
      </div>
      <div class="fieldset">
        <label for="phone">Un teléfono de contacto (es opcional)</label>
        <input
          id="phone"
          name="phone"
          type="tel"
          size="15"
          v-model.trim="form.phone"
          placeholder="Ex.: 999123123"/>
      </div>
      <div class="fieldset">
        <label for="nif">Tu DNI, NIF, NIE, Pasaporte o similar</label>
        <input
          id="nif"
          name="nif"
          type="text"
          required
          maxlength="20"
          v-model.trim="form.nif"
          placeholder="Ex.: 12345678Z"/>
      </div>
      <div class="fieldset">
        <label for="identity_doc">Fichero con tu DNI, NIF, NIE o documento similar</label>
        <input
          id="identity_doc"
          name="identity_doc"
          type="file"
          required
          @change="handleIdentityDoc" />
      </div>
      <div class="fieldset">
        <label for="banck_account">El IBAN de tu cuenta donde relaizaremos la domiciliación</label>
        <input
          id="banck_account"
          name="banck_account"
          type="text"
          required
          maxlength="30"
          v-model.trim="form.bankAccount"
          placeholder="Ex.: ES0011112222333344445555"/>
      </div>
      <div class="fieldset">
        <label for="first_payment_doc">Fichero con el comprobante del pago de la primera cuota</label>
        <input
          id="first_payment_doc"
          name="first_payment_doc"
          type="file"
          required
          @change="handleFirstPaymentDoc" />
      </div>
      <div class="fieldset">
        <label for="coment">Y puedes presentarte y dejarnos un comentario</label>
        <textarea
          id="comment"
          name="comment"
          rows="8"
          v-model.trim="form.comment"
          placeholder="Puedes contarnos cómo nos has conocido, por qué quieres pertenecer a la asociación o qué te gusta de Python :-)"/>
      </div>
      <div class="fieldset row">
        <input
          id="is_rgpd_consent"
          name="is_rgpd_consent"
          type="checkbox"
          required
          v-model.trim="form.isRgpdConsent" />
        <label for="is_rgpd_consent">Autorizo a Python España a incluirme en su base de datos de socies y comunicarse conmigo para las gestiones necesarias.</label>
      </div>
      <div class="fieldset row">
        <input
          id="allow_notifications"
          name="allow_notifications"
          type="checkbox"
          required
          v-model.trim="form.allowNotifications" />
        <label for="allow_notifications">Autorizo a Python España a enviarme información de las actividades y anuncios de la asociación.</label>
      </div>
      <div class="fieldset explanation">
        <p>Tus datos serán incorporados a un fichero automatizado propiedad de la Asociación Python España con CIF-G86766821 y dirección Calle La Botánica, 4 1º, 28028, Madrid, España, según las condiciones previstas en la legislación vigente. Los derechos de acceso, rectificación y cancelación pueden ejercerse ante el Secretario de la Asociación <a href="mailto:secretaria@es.python.org">secretaria@es.python.org</a>. La Asociación Python España se compromete a no ceder a terceros dichos datos y a utilizarlos estrictamente para la gestión de la Asociación y de los envíos de material a los socies.</p>
        <p>La recogida y tratamiento automatizado de los Datos Personales tiene como finalidad:
          <ul>
            <li>La gestión de socies de la Asociación.</li>
            <li>El envío de información sobre los servicios y actividades propias de la Asociación.</li>
          </ul>
        </p>
        <p>Python España se compromete al cumplimiento de su obligación de secreto con respecto a los datos de carácter personal suministrados y al deber de tratarlos con confidencialidad y reserva, conforme a la legislación vigente. A estos efectos adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado. Así mismo te informamos de que, si lo deseas puede ejercitar los derechos previstos en el Art. 5 de la Ley a través del correo electrónico <a href="mailto:secretaria@es.python.org">secretaria@es.python.org</a>, seleccionando como asunto LOPD e indicando tu nombre completo, su DNI y el tipo de derecho que deseas ejercitar, Acceso, Rectificación, Cancelación u Oposición.</p>
      </div>
      <div class="actions">
        <button type="reset" :disabled="isLoading">Borrar todo</button>
        <button type="submit" :disabled="isLoading || !form.allowNotifications || !form.isRgpdConsent">Enviar</button>
      </div>
    </form>
  </div>
</div>
