.host-new-partner {
  display: block;
}

.content {
  display: flex;
  flex-direction: row;
}

.explanation {
  max-width: 900px;
  margin-right: var(--spacing4);

  & .food-notes {
    @mixin typography body-2, grayscale500;

    font-style: italic;
  }
}

.form {
  display: block;
  max-width: 900px;

  & .fieldset {
    display: flex;
    flex-direction: column;
    margin: var(--spacing3) 0;
    max-width: 50rem;
  }

  & .actions {
    display: flex;
    justify-content: flex-end;
    margin: var(--spacing6) 0;
    max-width: 50rem;

    & :not(:last-child) {
      margin-right: 1rem;
    }
  }
}
