/*
  Global styles for the whole app.
  Inserted on app component.
*/

/* CSS reset */
@import "normalize.css";

/* Font faces */
@import "./styles/fonts.css";

/* Transitions */
@import "./styles/transitions.css";

/* For layout purposes */
html,
body {
  @mixin typography body-1;

  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-primary700);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: var(--color-primary500);
    text-decoration: underline;
  }

  &.router-link-exact-active {
    color: var(--color-secondary700);
    text-decoration: underline;
  }
}

code {
  background-color: var(--color-grayscale100);
  border-radius: 3px;
  @mixin typography numbers-2;
}

/* Main App */
.host-app {
  & .header {
    margin: var(--spacing4) var(--spacing12);
  }

  & .layout {
    display: flex;
    justify-content: center;
    margin: var(--spacing8) auto;

    & .layout-content {
      max-width: 1600px;
    }
  }
}
